NODE_ENV=
SERVER_NAME=
# PORT=
IP=
PORT=

#shipment api url
SHIPMENT_URL=

# Super User
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=


DATABASE_URL=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

NODEMAILER_HOST_EMAIL=
NODEMAILER_HOST_PASS=
OTP_EXPIRE_TIME=
OTP_TOKEN_EXPIRE_TIME=

# USER_JWT_TOKEN=

STRIPE_API_KEY=
STRIPE_API_SECRET=
CLIENT_URL=
BCRYPT_SALT_ROUNDS=

WEBHOOK=
# WEBHOOK=

# live 
SOCKET_PORT=
# SOCKET_PORT=

GOOGLEAPI=
# GOOGLEAPI=

#ups shipment key
UPS_CLIENT_ID=
UPS_CLIENT_SECRET=
